
.card_displayed {
	padding: 15px;
	display: grid;
	grid-template-columns: 3fr 2fr 2fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas: 
	"carousel info maps"
	"deals deals deals";
}

.carousel {
	grid-area: carousel;
}

.maps {
	grid-area: maps;
}

.info {
	grid-area: info;
} 

.deals {
	grid-area: deals;
}

.main {
	padding: 5em 20vw 5em 20vw;
}

.search {
	display:flex;
	justify-content: space-between;
	margin-bottom: 4em;
}

#searchbar {
	width: 75%;
	padding: 12px 20px;
	border: 3px solid #16778C;
	background-image: url('../images/searchicon.png');
	background-size: 25px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
	border-radius: 10px;
}

#sortby {
	padding: 12px 20px;
	border: 3px solid #16778C;
	border-radius: 10px;
}

.card {
	border: 3px solid #16778C;
	margin-bottom: 3em;
}

.details {
	padding: 1em;
}

.info p {
	list-style-type: none;
	font-size: 22px;
}

.timetable ul {
	list-style-type: none;
}

.deals ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}

#rating {
	margin-bottom: 5px;
}

#deal1 {
	border-top: 1px solid #403938;
	border-bottom: 1px solid #403938;
}

#deal2 {
	border-bottom: 1px solid #403938;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.info_button {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}


:root {
  --star-size: 20px;
  --star-color: #fff;
  --star-background: #fc0;
}

.stars {
	--percent: calc(var(--rating) / 5 * 100%);
	--star-size: 20px;
	--star-color: #fff;
	--star-background: #fc0;
	display: inline;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

