body{
    font-family: 'Roboto', sans-serif;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#16778C;
    font-weight: lighter;
    align-items: center;
}
.top-right a{
    text-decoration: none;
   color:#16778C;
}
.top-right a:hover{
    color: rgb(235, 140, 106);
}


header button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}
.headbutton1{
    background-color: whitesmoke;
    border: 2px solid #2999A6;
    color: #2999A6;
}
.headbutton1:hover{
    background-color: #11698c;
    border-color:  #11698c;
    color: whitesmoke;
}

.headbutton2{
    background-color: #2999A6;
    border-color: #2999A6;
    color: whitesmoke;
    padding: 10px 30px;
}
.headbutton2:hover{
    background-color: #11698c;
    border-color:  #11698c;
    color: whitesmoke;
}
/*NAVIGATION BAR Start*/
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: #16778C;
  }
  
nav a{
    text-decoration: none;
    color: #A0D9BE;
}
nav a:hover {
    font-weight: bold;
    color: rgb(235, 140, 106);
  }
.main1 img{
    width: 100%;
}


.navbar-toggle{
    color: white;
    font-size: x-large;
    margin-right:20px;
    cursor: pointer;
    font-size: 20pt;
    display: none; /*hides the navbar toggle*/
}


/*Start of Responsive Nav Bar*/
@media screen and (max-width: 768px) { 

.header{
    background:#16778c ;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header + div {
    padding-top:60px;
}



.main-nav a{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #A0D9BE;
    width: 100%;
}

.main-nav a:hover{
    background: #2999A6;
    transition: ease 0.2s;
    color: white;
}

/*hides the navigation bar*/

.main-nav{
    align-items: center;
    display: none;
    flex-direction: column;
}

.active-nav{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav{
    padding: 0;
}

/*displays the  bar toggle visibility*/
.navbar-toggle{
    display: block;
}


#header-logo{
    width: 40px;
    margin: 0 20px 0 0;
    padding: 10px;
}

.top-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.top-right h4{
    display: none;
}

.headbutton1{
    margin-right: 20px;
}

.headbutton2{
    margin-right: 20px;
}

}



/* Start of FOOTER*/

footer{
    background-color: #16778c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f1f1f1;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #A0D9BE;
}
footer a:hover{
    color:#f2ebc4;
}

footer img{
    width: 80px;
    height: 90px;
}

.social-media i{
    padding:10px;
    color:#A0D9BE;
    cursor: pointer;
}
.footer-col2 {
    margin: 50px;
}
.footer-col3 {
    margin: 50px;
}
.footer-col4 {
    margin: 50px;
}
.bottom-credits{
    background-color: #16778c;
    text-align: center;
}
hr{
    border-top: 0.5px solid #f1f1f1;
    display: block;
    margin-top:0;
    margin-left: 5%;
    margin-right: 5%;
}
.p-bottom{
    background-color: #16778c;
    color: #f1f1f1;
    margin-bottom: 0;
}

/* End of FOOTER*/

/* Hero Banner*/
.hero-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:50px;
}

.hero-banner-background{
    background-image: url('../images/meditationt3.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}
.hero-banner-sec-1{
    padding: 10%;
    width: 60%;
    border-radius: 16px;
}
.hero-banner-sec2{
    padding:10%;
    width: 40%;
}
.hero-banner-sec2 p{
    font-size: 30pt;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  .box-container{
    box-shadow: -10px 15px 7px  rgb(31, 29, 29);
  }
  
  /* Style the tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: left;
  }
  .tabcontent p{
      font-size: 18pt;
  }
  
  #Yoga {background-color:#2999A6;  }
  #Meditation {background-color:#16778C;}
  #Retreats{background-color:#1db9c4;}

.select-search{
    width: 100%;
    font-size: 16px;
    margin-bottom: 10%;
    position: relative;
    font-family: Roboto;
}

#sortby{
	padding: 12px 20px;
	border: 3px solid #16778C;
	border-radius: 10px;
}
.tabcontent button{
    background-color: orange;
    color:white;
    align-content: center;
    border: 2px solid orange;
    cursor: pointer;
    border-radius:16px ;
    padding: 10px 30px;
    margin-top:10%;
}


        /*********/

/*Index-products*/
.products-wrapper{
    background-color: #f7f7f7;
    padding-bottom: 40px;
}
.products{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
    background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {  
    .products{
    display:flex;
    flex-direction: column;
    justify-content: center;
    }
    .prd-dscr-btn{
        width: 100%;
    }
}
@media screen and (max-width: 768px) { 
    .products-text{
        font-size: 15pt;

    }
}
.products-text{
    align-content: center;
    padding-top:40px;
    font-size: 18pt;
    text-align: center;
    margin-bottom:0;
}
.product-1 {
    padding: 30px;
}
.product-2 {
    padding: 30px;
}
.product-3 {
    padding: 30px;
}
.container {
    position: relative;
    width: 100%;
  }
.container img{
    width: 100%;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #11698c;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .text {
    color: #A0D9BE;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .prd-dscr-btn{
    background-color:  #2999A6;
    border-color: #2999A6;
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    padding: 10px 20px;
  }
  .prd-dscr-btn:hover{
      background-color: #11698c;
      color: #f1f1f1;
  }
/*End of Index-products*/

/*Style for counter*/
.middle{
    position: relative;
    width: 100%;
  /*  transform: translateY(-50%);*/
    background-color: #f7f7f7;
  }
  .counting-sec{
    padding: 40px 0;
    width: 100%;
    background: linear-gradient(90deg,#11698c,#82ccdd);
  }
  .inner-width{
    max-width: 1200px;
    margin: auto;
    display: flex;
  }
  @media screen and (max-width: 768px) { 

    .inner-width{
        display: flex;
        flex-direction: column;
    }
  }
  .col{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .col i{
    font-size: 40px;
    color: orange;
  }
  .num{
    font-size: 40px;
    margin: 20px 0;
  }

/*End of style for counter*/



/* Banner Advertisment list your business*/
.banneradds{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/yogabanner1.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 400px; 
    text-align: center;
    margin:0;
}
.pbanner{
    font-size: 25pt;
    font-weight: bold;
}

.bannerbutton{
    background-color: orange;
    color:white;
    align-content: center;
    border: 2px solid orange;
    cursor: pointer;
    border-radius:16px ;
    padding: 10px 30px;
    margin-top:10%;
}

.bannerbutton:hover{
    background-color: #ff5e00;
    border: 2px solid #ff5e00;
    color:whitesmoke;
}
/* END of Banner Advertisment list your business*/




/* FOR CONTACT PAGE - BY WILMIR */
/*Styles the contact section*/
.contact{
    display:flex;
    justify-content:center;
    flex-direction: row;
    background-color: transparent;
   width: 100%;
}

/*Style the main container*/
.contact-content{
    display:flex;
    justify-content:center;
    flex-direction: row;
    margin-top:30px;
    margin-bottom:30px;
    box-sizing: border-box;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    width: 768px;
    box-shadow:0 16px 40px rgba(0,0,0,0.12)
}

/* Divide the main container into 2 equal columns */
.contact-content-col1, 
.contact-content-col2{
    display:flex;
    width: 50%;
    flex-direction: column;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}



/*Style the other contact information*/
.contact-hours, .contact-address{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    color:#11698c;}

/*Style the other locate title*/
.contact-locate{
    text-transform:uppercase;
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
    color:#11698c;
    font-weight: bolder;    
    margin-bottom: 10px;
}


/* Style the form, map, and article container */
.contact-content-form, .contact-content-map, .contact-content-article{
    padding: 20px;
}

/* Style the form header */
.form-header{
    font-size:30px;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-weight: bolder;
}

/* Style form inputs, and textareas */
input, textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

/*Set height of text-area*/
textarea{
    height:100px;
}

input:focus, textarea:focus{
    border-color: #11698c;
    transition: ease 0.2s;
    outline:none;
}


/* Style the label to display next to the inputs */
label {
    display: inline-block;
    font-size:14px;
    font-weight: bolder;
  }
  
  /* Floating column for inputs*/
  .form-col {
    float: left;
    width: 100%;
    margin-top: 6px;
    box-sizing: border-box;
  }
  
/*Styles the submit button*/
#form-submit{
    float: right;
    width: 100%;
    background-color: #11698c;
    border-color: #11698c;
    color:white;
    border-radius:16px ;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
}

/*Styles the submit button */
#form-submit:hover{
    background-color: #2999A6;
    border-color: #2999A6;
    color:white;
    transition: ease 0.5s;
}



/*Styles the confirmation message*/
.confirmation-message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 0;
}


.confirmation-message{
    font-size: 12px;
    font-style: italic;
    font-weight:bolder;
    text-align: center;
    color:gray;
}


/*Styles the logo*/
.logo img{
    width: 120px;
    fill:#2999A6;
    margin-top: 20px;
    padding:20px;
}


  /* Clear floats after the columns */
  .form-row:after {
    content: "";
    display: table;
    clear: both;
  }

/*Styles the list business section*/
.list-business-banner{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/yogabanner1.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    background-color: #ededed;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*Styles the list business container*/
.list-business-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 768px;
    margin: 50px 0 30px 0;
    box-sizing: border-box;
   /* background: rgba(255, 255, 255, 0.4); */
    padding: 20px;
    border-radius: 6px;
}

/*Style the list business title*/
.list-business-title{
    font-size: 12px;
    font-weight: 100;
    box-sizing: border-box;
}


/*Style the list business article*/
.list-business-article{
    align-self: center;
    font-size: 40px;
    font-weight: 100;
    padding: 10px 0;
    box-sizing: border-box;
}

/*Banner text rainbow animation effect*/
/* Add shining class to the text you need to apply this to. */
.shining {
	text-align: center;
		font-size: 40px;
		font-weight: 700;
       /* background: linear-gradient(to right, #11698c 10%, black 50%, #11698c 60%);*/
        background: linear-gradient(-90deg,#2999A6,indigo,violet, #ff007f,orange, #00b300);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        animation: textclip 15s linear infinite;
    }

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
/*End of Banner text rainbow animation effect*/



/*Styles the layout for the button container*/
.list-business-button-container{
    align-self: center;
    margin: 10px 0;
    box-sizing: border-box;
}

.list-business-button{
    background-color: orange;
    border-color:orange;
    color:white;
    border-radius:16px ;
    padding: 10px 30px;
    box-sizing: border-box;
    font-weight: bolder;
}

.list-business-button:hover{
    background-color: #ff5e00;
    border-color: #ff5e00;
    transition: ease 0.5s;
}


/*Styles the map*/
#hubmap{
	width:100%;
	height:185px;
	border-radius: 6px;
}

/*Styles for the social media icons*/
.instagram_icon, 
.facebook_icon,
.twitter_icon,
.youtube_icon {
    width: 30px;
    fill:gray;
}

.instagram_icon:hover, 
.facebook_icon:hover,
.twitter_icon:hover,
.youtube_icon:hover {
    fill:#16778C;
    transition: ease 0.3s;
}


.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    padding: 10px;
}
/*End of styles for the social media icons*/




  /* Responsive layout - when the screen is less than 768px wide*/
@media screen and (max-width: 768px) {   
    /*Removes the background-image in the contact session*/ 
    .contact{
        background-image: none;
        margin:0;
        padding: 0;
    }
    
    /* make the article, map, and form stack on top of each other */
    .contact-content{
        display:flex;
        justify-content:center;
        flex-direction: column;
        margin:0;
        padding: 0;
        box-sizing: border-box;
        background-color:transparent;
        border-radius: 0;
        width: 100%;
        box-shadow:unset;
    }

    /* make the article, map, and form stack on top of each other */
    .contact-content-col1, 
    .contact-content-col2{
        width: 100%;
        padding:0;
        margin-bottom:10px;
    }
  


    /*Moves the background image to the heder*/
    .form-header{
        color:#16778C;
        margin-top: 20px;
        color:#16778C;
    }

    #form-submit{
        width: 100%;
    }

    .contact-hours, .contact-address, .contact-locate{
        margin: 0 0 5px 0;
        padding: 0;
    }

    .contact-locate{
        font-size:30px;
        text-transform:none;
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 12px;
        box-sizing: border-box;
        font-weight: bolder;
    }

    .list-business-container{
        width: 90%;
        background: rgba(255, 255, 255, 0.4);
    }

    .instagram_icon, 
    .facebook_icon,
    .twitter_icon,
    .youtube_icon {
        width: 40px;
        fill:gray;
        padding: 10px;
        margin: 10px 0;
    }


    footer{
        flex-direction: column;
    }

    .footer-col1{
        display: none;
    }

    .footer-col2, .footer-col3, .footer-col4{
        margin:0;
    }

    footer ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
  /* END OF CONTACT FORM */
