body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    color:#16778C;
    font-weight: lighter;
}
.top-right a{
    text-decoration: none;
    color:#16778C;
}
.top-right a:hover{
    color: rgb(235, 140, 106);
}
header img{
    width: 120px;
    height: 120px;
}
header button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    border-style: solid 1px;
}
.headbutton1{
    background-color: none;
    border: 2px solid #11698c;
    color: #2999A6;
}
.headbutton2{
    background-color: #11698c;
    border-color: #11698c;
    color: #A0D9BE;
    padding: 10px 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: #16778C;
  }
nav a{
    text-decoration: none;
    color: #A0D9BE;
}
nav a:hover {
    font-weight: bold;
    color: rgb(235, 140, 106);
  }
.main1 img{
    width: 100%;
}
.banneradd{
    background-image: url(/wellnesshub/images/68b62085e41e8f225811766f8d5eb2bb_XL.jpg);
}
footer{
    background-color: #16778c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f1f1f1;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #A0D9BE;
}
footer a:hover{
    color:#f2ebc4;
}

footer img{
    width: 80px;
    height: 80px;
}
.footer-col1 {
    margin: 50px;
}
.footer-col2 {
    margin: 50px;
}
.footer-col3 {
    margin: 50px;
}
.footer-col4 {
    margin: 50px;
}